body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;

}

#container{
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
#innercontainer{
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}